<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Portfolio Details</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'img/profile-img.jpeg' %}" rel="icon">
  <link href="{% static 'img/profile-img.jpeg' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/aos/aos.css" rel="stylesheet">
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

  
</head>

<body>
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="{% static 'img/profile-img.jpeg' %}" class="img-fluid rounded-circle">
        <h1 class="text-light"><a href="index.html">AMMAN M</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="{% url 'home' %}" class="nav-link scrollto active"><i class="bx bx-home"></i> <span>Home</span></a></li>
          <li><a href="{% url 'home' %}#portfolio" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Projects</span></a></li>
        </ul>
      </nav>
    </div>
  </header>

  <main id="main">

    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Portfoio Details</h2>
          <ol>
            <li><a href="/home">Home</a></li>
            <li>Portfoio Details</li>
          </ol>
        </div>

      </div>
    </section>

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">

                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio2a.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio2b.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio2c.jpg" alt="">
                </div>

                <div class="swiper-slide">
                  <img src="static/img/portfolio/portfolio2d.jpg" alt="">
                </div>

                <div class="swiper-slide">
                    <img src="static/img/portfolio/portfolio2e.jpg" alt="">
                  </div>

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Category</strong>: Model Retouching</li>
                <li><strong>Skills and deliverables</strong>: Retouching and Enhancement, Motion Retouching, Adobe Photoshop</li>
                <li><strong>Project date</strong>: Oct 13, 2024</li>
                <li><strong>Project URL</strong>: <a href="https://www.upwork.com/freelancers/~0103286c49dadfbae7?p=1845443121754435584">Click here</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Project description</h2>
              <p>
                In this project, I performed detailed model retouching to achieve a flawless yet natural look. 
                I expertly smoothed the model’s skin while preserving texture and avoided an overly airbrushed effect. 
                Wrinkles in the clothing were removed for a polished finish, and the background was cleared of distractions to keep the focus on the model. 
                Shadows and lighting were adjusted to enhance depth, giving the image a dynamic, professional appeal. 
                Each edit was precise, making the final image ideal for high-end fashion, beauty campaigns, and editorial use, delivering a clean and sophisticated result.
              </p>
            </div>
          </div>
        </div>
      </div>
    </section>

  </main>

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>@2024</span></strong>
      </div>
    </div>
  </footer>

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/typed.js/typed.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="static/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>